body {
    font-family: 'Poppins', sans-serif;
    margin: 50;
    padding: 0;
}

header {
    background-color: #6b6b6b;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;

}
header img{
    position: left;
}

nav {
    display: inline-block;
    margin-top: 30px;
    padding-left: 30px;
    margin-bottom: 0;

}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}



.secundary {
    background-color: #f0f0f0;
    padding: 50;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}



